{% extends 'base.html' %}
{% load static %}
{% load product_tags %}
{% block content %}
{% block script %}
<script>
$(document).ready(function(){
	$(".filter-checkbox").on('click', function(){
		var filter_object={};
		$(".filter-checkbox").each(function(index,ele){
			var filter_value=$(this).val();
			var filter_key=$(this).data('filter');
			console.log(filter_key,filter_value);
			filter_object[filter_key]=Array.from(document.querySelectorAll('input[data-filter='+filter_key+']:checked')).map(function(el){
			 	return el.value;
			});
		});
		$.ajax({
			url:'{% url 'filter-data' %}',
			data:filter_object,
			dataType:'json',
			success:function(res){
				$("#filteredProducts").html(res.data);
     			$("#filteredProductss").html(res.data);
			}
		});
	});
});
</script>
<style>
   input[type=range]{
   -webkit-appearance: none;
   width:100%;
   }
   input[type=range]::-webkit-slider-runnable-track {
   width: 1000px;
   height: 5px;
   background: #FCBE00;
   border: none;
   border-radius: 3px;
   }
   input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   border: none;
   height: 16px;
   width: 16px;
   border-radius: 50%;
   background: goldenrod;
   margin-top: -5px;
   }
   input[type=range]:focus {
   outline: none;
   }
   input[type=range]:focus::-webkit-slider-runnable-track {
   background: #FCBE00;
   }
</style>
{% endblock %}

<main>
        <!-- breadcrumb__area-start -->
        <section class="breadcrumb__area box-plr-75">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="breadcrumb__wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                </ol>
                              </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb__area-end -->

        <!-- shop-area-start -->
        <div class="shop-area mb-20">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <div class="product-widget mb-30">
                            <h5 class="pt-title">Product categories</h5>
                            <div class="widget-category-list mt-20">
                                <form action="#">
                                    {% for i in category %}
                                    <div class="single-widget-category">
                                        <input type="checkbox" data-filter="category" id="{{i.id}}" value="{{i.id}}" class="filter-checkbox">
                                        <label for="{{i.id}}">{{i.name}}<span>({{i.product_set.all.count}})</span></label>
                                    </div>
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
                        <div class="product-widget mb-30">
                            <h5 class="pt-title">Filter By Price</h5>
                            <div class="price__slider mt-30">
                                <input type="range" class="multi-range success" style="color:red;" value="{{FilterPrice}}" min="{{min_price.price__min}}" max="{{max_price.price__max}}" id="rangeInput" oninput="maxPrice.value=this.value" width="400px;"/>
                            <div>
                                <form action="" class="s-form mt-20" method="get">
                                    <b>Rs</b><input type="number" id="maxPrice" readonly="" name="FilterPrice" onkeyup="rangeInput.value=this.value" value={{FilterPrice}}{{minMaxPrice.price__min}}>
                                    <button type="submit" id="priceFilterBtn" class="tp-btn-square-lg">Filter</button>
                                </form>
                            </div>
                            </div>
                        </div>
                        <div class="product-widget mb-30">
                            <h5 class="pt-title">Choose Color</h5>
                            <div class="product__color mt-20">
                                <ul>
                                    {% for i in color %}
                                   <li>
                                      <a href="?colorID={{i.id}}" class="black" style="background-color:{{i.code}};"></a>
                                   </li>
                                    {% endfor %}
                                </ul>
                          </div>
                        </div>
                        <div class="product-widget mb-30">
                            <h5 class="pt-title">Choose Brand</h5>
                            <div class="widget-category-list mt-20">
                                <form action="#">
                                    {% for i in brand %}
                                    <div class="single-widget-category">
                                        <input type="checkbox" data-filter="brand" value="{{i.id}}" class="filter-checkbox" id="brand-{{i.id}}">
                                        <label for="brand-{{i.id}}">{{i.name}} <span>({{i.product_set.all.count}})</span></label>
                                    </div>
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
<!--                        <div class="product-widget mb-30">-->
<!--                            <h5 class="pt-title">Special Offers</h5>-->
<!--                            <div class="product__sm mt-20">-->
<!--                                <ul>-->
<!--                                    <li class="product__sm-item d-flex align-items-center">-->
<!--                                        <div class="product__sm-thumb mr-20">-->
<!--                                            <a href="product-details.html">-->
<!--                                                <img src="assets/img/product/sm-1.jpg" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="product__sm-content">-->
<!--                                            <h5 class="product__sm-title">-->
<!--                                                <a href="product-details.html">Classic Leather Backpack Daypack 2022</a>-->
<!--                                            </h5>-->
<!--                                            <div class="product__sm-price">-->
<!--                                                <span class="price">$300.00</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="product__sm-item d-flex align-items-center">-->
<!--                                        <div class="product__sm-thumb mr-20">-->
<!--                                            <a href="product-details.html">-->
<!--                                                <img src="assets/img/product/sm-2.jpg" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="product__sm-content">-->
<!--                                            <h5 class="product__sm-title">-->
<!--                                                <a href="product-details.html">Samsung Galaxy A12, 32GB, Black - (Locked)</a>-->
<!--                                            </h5>-->
<!--                                            <div class="product__sm-price">-->
<!--                                                <span class="price">$150.00</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="product__sm-item d-flex align-items-center">-->
<!--                                        <div class="product__sm-thumb mr-20">-->
<!--                                            <a href="product-details.html">-->
<!--                                                <img src="assets/img/product/sm-3.jpg" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="product__sm-content">-->
<!--                                            <h5 class="product__sm-title">-->
<!--                                                <a href="#">Coffee Maker AH240a Full Function</a>-->
<!--                                            </h5>-->
<!--                                            <div class="product__sm-price">-->
<!--                                                <span class="price">$300.00</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="product__sm-item d-flex align-items-center">-->
<!--                                        <div class="product__sm-thumb mr-20">-->
<!--                                            <a href="product-details.html">-->
<!--                                                <img src="assets/img/product/sm-4.jpg" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="product__sm-content">-->
<!--                                            <h5 class="product__sm-title">-->
<!--                                                <a href="product-details.html">Imported Wooden Felt Cushion Chair</a>-->
<!--                                            </h5>-->
<!--                                            <div class="product__sm-price">-->
<!--                                                <span class="price">$120.00</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                    <li class="product__sm-item d-flex align-items-center">-->
<!--                                        <div class="product__sm-thumb mr-20">-->
<!--                                            <a href="product-details.html">-->
<!--                                                <img src="assets/img/product/sm-5.jpg" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="product__sm-content">-->
<!--                                            <h5 class="product__sm-title">-->
<!--                                                <a href="product-details.html">Sunhouse Decorative Lights - Imported</a>-->
<!--                                            </h5>-->
<!--                                            <div class="product__sm-price">-->
<!--                                                <span class="price">$110.00</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <div class="shop-banner mb-30">
                            <div class="banner-image">
                                <img class="banner-l" src="{% static 'assets/img/banner/sl-banner.jpg' %}" alt="">
                                <img class="banner-sm" src="{% static 'assets/img/banner/sl-banner-sm.png' %}" alt="">
                                <div class="banner-content text-center">
                                    <p class="banner-text mb-30">Hurry Up! <br> Free Shipping All Order Over 2000</p>
                                    <a href="shop.html" class="st-btn-d b-radius">Discover now</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-lists-top">
                            <div class="product__filter-wrap">
                                <div class="row align-items-center">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="product__filter d-sm-flex align-items-center">
                                            <div class="product__col">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                      <button class="nav-link active" id="FourCol-tab" data-bs-toggle="tab" data-bs-target="#FourCol" type="button" role="tab" aria-controls="FourCol" aria-selected="true">
                                                        <i class="fal fa-th"></i>
                                                      </button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                      <button class="nav-link" id="FiveCol-tab" data-bs-toggle="tab" data-bs-target="#FiveCol" type="button" role="tab" aria-controls="FiveCol" aria-selected="false">
                                                        <i class="fal fa-list"></i>
                                                      </button>
                                                    </li>
                                                  </ul>
                                            </div>
                                            <div class="product__result pl-60">
                                                <p>Showing 1-20 of 29 results</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="product__filter-right d-flex align-items-center justify-content-md-end">
                                            <div class="product__sorting product__show-no">
<!--                                                <select>-->
<!--                                                    <option>10</option>-->
<!--                                                    <option>20</option>-->
<!--                                                    <option>30</option>-->
<!--                                                    <option>40</option>-->
<!--                                                </select>-->
                                            </div>
                                            <div class="product__sorting product__show-position ml-20">
                                                <select>
                                                    <option><a>New</a></option>
                                                    <option><a>Old</a></option>
                                                    <option><a>Upcoming</a></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                        <div class="tab-content" id="productGridTabContent">
                            <div class="tab-pane fade  show active" id="FourCol" role="tabpanel" aria-labelledby="FourCol-tab">
                                <div class="tp-wrapper">
                                    <div class="row g-0" id="filteredProducts">
                                        {% for i in product %}
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                            <div class="product__item product__item-d">
                                                <div class="product__thumb fix">
                                                    <div class="product-image w-img">
                                                        <a href="{{i.get_absolute_url}}">
                                                            <img src="{{i.featured_image}}" alt="product" height="200px;">
                                                        </a>
                                                    </div>
                                                    <div class="product__offer">
                                                        <span class="new">{{i.condition}}</span>
                                                    </div>
                                                    <div class="product-action">
                                                        <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">
                                                            <i class="fal fa-eye"></i>
                                                            <i class="fal fa-eye"></i>
                                                        </a>
                                                        <a href="{% url 'add_to_wishlist' i.id %}" class="icon-box icon-box-1">
                                                            <i class="fal fa-heart"></i>
                                                            <i class="fal fa-heart"></i>
                                                        </a>
                                                        <a href="#" class="icon-box icon-box-1">
                                                            <i class="fal fa-layer-group"></i>
                                                            <i class="fal fa-layer-group"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product__content-3">
                                                    <h6><a href="{{j.get_absolute_url}}">{{i.product_name}}</a></h6>
                                                    <div class="rating mb-5">
                                                        <ul>
                                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        </ul>
                                                        <span>(01 review)</span>
                                                    </div>
                                                    <div class="price mb-10">
                                                        <span>Rs {{i.price}}</span>
                                                    </div>
                                                </div>
                                                <div class="product__add-cart-s text-center">
                                                    <a href="{% url 'cart_add' i.id %}" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                                                    Add to Cart
                                                    </a>
<!--                                                    <a href="#" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">-->
<!--                                                        Quick View-->
<!--                                                    </a>-->
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="FiveCol" role="tabpanel" aria-labelledby="FiveCol-tab">
                                <div class="tp-wrapper-2">
                                    <div class="single-item-pd" id="filteredProductss">
                                        {% for j in product %}
                                        <div class="row align-items-center">
                                            <div class="col-xl-9">
                                                <div class="single-features-item single-features-item-df b-radius mb-20">
                                                    <div class="row  g-0 align-items-center">
                                                        <div class="col-md-4">
                                                            <div class="features-thum">
                                                                <div class="features-product-image w-img">
                                                                    <a href="{{j.get_absolute_url}}"><img src="{{j.featured_image}}" alt=""></a>
                                                                </div>
                                                                <div class="product__offer">
                                                                    <span class="new">{{j.condition}}</span>
                                                                    <span class="discount">-{{j.Discount}}%</span>
                                                                </div>
                                                                <div class="product-action">
                                                                    <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">
                                                                        <i class="fal fa-eye"></i>
                                                                        <i class="fal fa-eye"></i>
                                                                    </a>
                                                                    <a href="{% url 'wishlist' %}" class="icon-box icon-box-1">
                                                                        <i class="fal fa-heart"></i>
                                                                        <i class="fal fa-heart"></i>
                                                                    </a>
                                                                    <a href="#" class="icon-box icon-box-1">
                                                                        <i class="fal fa-layer-group"></i>
                                                                        <i class="fal fa-layer-group"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="product__content product__content-d">
                                                                <h6><a href="{{j.get_absolute_url}}">{{j.product_name| truncatewords:15}}</a></h6>
                                                                <div class="rating mb-5">
                                                                    <ul class="rating-d">
                                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                                    </ul>
                                                                    <span>(01 review)</span>
                                                                </div>
                                                                <div class="features-des">
                                                                    <ul>
                                                                        <li><a href="{{j.get_absolute_url}}">{{j.Product_Information|safe|truncatechars:500}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3">
                                                <div class="product-stock mb-15">
                                                    <h5>Availability: <span> {{j.Availability}} in stock</span></h5>
                                                    <h6>Rs {% call_sellprice j.price j.Discount %} - <del> {{j.price}}</del></h6>
                                                </div>
                                                <div class="stock-btn ">
                                                    <a href="{% url 'cart_add' j.id %}" class="cart-btn d-flex mb-10 align-items-center justify-content-center w-100">
                                                    Add to Cart
                                                    </a>
<!--                                                    <button type="button" class="wc-checkout d-flex align-items-center justify-content-center w-100" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">-->
<!--                                                        Quick View-->
<!--                                                    </button>-->
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tp-pagination text-center">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="basic-pagination pt-30 pb-30">
                                        <nav>
                                           <ul>
                                              <li>
                                                 <a href="shop.html" class="active">1</a>
                                              </li>
                                              <li>
                                                 <a href="shop.html">2</a>
                                              </li>
                                              <li>
                                                 <a href="shop.html">3</a>
                                              </li>
                                             <li>
                                                <a href="shop.html">5</a>
                                             </li>
                                             <li>
                                                <a href="shop.html">6</a>
                                             </li>
                                              <li>
                                                 <a href="shop.html">
                                                    <i class="fal fa-angle-double-right"></i>
                                                 </a>
                                              </li>
                                           </ul>
                                         </nav>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop-area-end -->

    </main>
{% endblock %}